<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC | Add LCO</title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Register LCO</h3>
                <p style="color:red;"><%= message %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small>* Please fill in mandatory fields</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      </li>

                    </ul>
                  </div>
                  <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post" id="brdsform"  action='lco_add' novalidate>
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">MSO Code <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="form-control" name="MSOId">
                              <% if(msos!==undefined){
                                for(var i=0;i<msos.length;i++){
                              %>
                                <option value='<%= msos[i].MSOId %>/<%= msos[i].name %>'> <%= msos[i].MSOId+ '/'+msos[i].name %></option>
                              <% }
                              }%>
                        </select>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">LCO Code <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" name="LCOId" placeholder="" required="required" type="text">
                        </div>
                      </div>
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">LCO Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12"name="name" placeholder="" required="required" type="text" >
                        </div>
                      </div>
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="address" required="required" name="address" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                      </div>

					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pinCode">Contact Person<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="pinCode" class="form-control col-md-7 col-xs-12" name="contactPerson" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone1">Phone Number<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="pinCode" class="form-control col-md-7 col-xs-12" name="phone1" placeholder="" required="required" type="text">
                        </div>
                      </div>
                       <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pinCode">Alt Phone Number<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="pinCode" class="form-control col-md-7 col-xs-12" name="phone2" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactPerson">Password<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="pinCode" class="form-control col-md-7 col-xs-12" name="password" placeholder="" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactPerson">Confirm Password<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="pinCode" class="form-control col-md-7 col-xs-12" name="passwordconfirm" placeholder="" required="required" type="text">
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button id="send" type="submit" class="btn btn-primary" name="lco_edit" value="false">Submit</button>

                        </div>
                      </div>
                    </form>


					  <div class="ln_solid"></div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% global.lcoAdded=false;%>
        <% global.lcoAddError=false;%>
        <!-- /page content -->

        <!-- footer content -->
        <% include footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
<script>
function getDetails(){
      var urlmenu = document.getElementById( 'custType' );
      var selector=document.getElementById("custType");
      var type=selector[selector.selectedIndex].value;
      alert("hello "+type);
      
      window.open("/get_MSO_details?type="+type,"_self" );
    //  window.open("/get_lco_details?lcoid="+lcoid,"_self" );

 }
</script>
  </body>
</html>
