<head>
    <style>
        .navbar-default {
            background-color: #F8F8F8;
            border-color: #E7E7E7;
        }
    </style>
</head>

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <!-- Logo -->
                <!--  style="background-color: #444444;" -->
                <!-- <a href="dashboard_admin" class="logo">-->
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <!--<span class="logo-mini"><b>C</b>G</span>-->
                <!-- logo for regular state and mobile devices -->
                <!--<span class="logo-lg"><b>Cable</b>guy</span>-->

                <!-- Header Navbar: style can be found in header.less -->


                <div class="navbar-header" style="border:0;background-color:#ffffff;padding:10px">

                    <a href="/dashboard_admin"><img src="/images/logo_1.png" class="img-responsive" style="width: 100%;height:100%;" /></a>

                </div>

                <div class="clearfix"></div>


                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <!--              <div class="profile_pic">
                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
              </div>-->
                    <div class="profile_info">
                        <span>Welcome</span>
                        <h2>Administrator</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a href="/dashboard_admin"><i class="fa fa-home"></i> Home</a>
                                <!--                    <ul class="nav child_menu">
                      <li><a href="index.html">Dashboard</a></li>
                      <li><a href="index2.html">Dashboard2</a></li>
                      <li><a href="index3.html">Dashboard3</a></li>
                    </ul> -->
                            </li>
                            <li><a><i class="fa fa-edit"></i> MSO <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/add_mso">Register </a></li>
                                    <li><a href="/list_MSO">List</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> LCO <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/add_lco">Register </a></li>
                                    <li><a href="/list_lco">List</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> Agents <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/add_agent">Register </a></li>
                                    <li><a href="/list_agent">List</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-users"></i> Customers <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/admin_mso_customers" target="_blank">Customers Report</a></li>
                                    <li><a href="/admin_mso_del_customers" target="_blank">Deleted Customer Report</a></li>
                                    <li><a href="/admin_mso_transactions" target="_blank">Transactions Report</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> Reports <span class="fa fa-chevron-down"></span></a>

                                <ul class="nav child_menu">
                                    <li><a href="/get_message_log">Message Log</a></li>
                                    <!--edit_agent -->
                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> Admin <span class="fa fa-chevron-down"></span></a>

                                <ul class="nav child_menu">

                                    <li><a href="/get_payment_admin">Payment Reversal</a></li>
                                    <li><a href="/get_version_details">Version Details</a></li>
                                    <li><a href="/get_password_admin">Change Password</a></li>
                                    <!--edit_agent -->
                                </ul>
                            </li>

                            <!--<li><a><i class="fa fa-table"></i> Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/lco_overview_report">LCO Overview</a></li>
                    </ul>
                  </li>
-->
                            <li><a href="/signout"><i class="fa fa-desktop"></i>Logout</a>

                            </li>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>
        </div>