<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DC | Customer List</title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header_css %>

      <!-- Bootstrap -->
      <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome -->
      <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <!-- NProgress -->
      <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
      <!-- iCheck -->
      <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
      <!-- Datatables -->
      <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
      <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
      <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
      <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
      <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

      <!-- Custom Theme Style -->
      <link href="../build/css/custom.min.css" rel="stylesheet">


</head>
<body class="nav-md">

  <% include header %>

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
            <% if(message!=''){ %>
              <div>
                <p style="color:#ff4d4d;"><%= message %> </p>
              </div>
            <%
            }
            %>



            <div style="overflow:scroll;">
            <!-- /.box-header -->
              <form role="form" method='post' action='admin_delete_customer' >
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                      <th>Select</th>
                      <th>Serial No.</th>
                      <th>Customer Id</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Plot No.</th>
                      <th>Phone Number</th>
                      <th>Alt Number</th>
                      <th>Net Plot Amount</th>
                      <th>Total Paid Amount</th>
                      <th>Balance Amount</th>
                    </tr>
                  </thead>


                  <tbody>
                    <% if(subs!==undefined){
                            for(var i=0;i<subs.length;i++){

                          %>
                    <tr>
                      <td><input type="radio" name="subsValue" value='<%= subs[i].customerId%>'></td>
                      <td><%= i+1 %></td>
                      <td><%= subs[i].customerId %></td>
                      <td><%= subs[i].name %></td>
                      <td><%= subs[i].address %></td>
                      <td><%= subs[i].plotNo %></td>
                      <td><%= subs[i].mobileNo %></td>
                      <td><%= subs[i].altNo %></td>
                      <td><%= subs[i].netPlotAmount %></td>
                      <td><%= subs[i].totalPaidAmount %></td>
                      <td><%= subs[i].balanceAmount %></td>
                    </tr>
                  <% }

                  }%>

                  </tbody>

                </table>
                  <div class="box-footer">
                    <button type="submit" id="manipulate" name="manipulate" onclick="call();" class="btn btn-primary">Delete Customer</button>
                    </div>
                
                </div>
              </form>
</div>
              </div>

                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <% include footer %>


<!-- ./wrapper -->


<% include scripts %>

    <!-- Datatables -->
    <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="../vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="../vendors/jszip/dist/jszip.min.js"></script>
    <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

        <script>
          $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
              "paging": true,
              "lengthChange": true,
              "searching": true,
              "ordering": true,
              "info": true,
              "autoWidth": false
            });
          });
        </script>
    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              //deferLoading: 57,tableRowsCount
              //deferLoading: ,
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        var $datatable = $('#datatable-checkbox');

        $datatable.dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $datatable.on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->
<script>
function call(){
if (confirm("Want to delete Selected Customer ?") == true) {
   document.getElementById('manipulate').value = "delete";  
} else {
   document.getElementById('manipulate').value = "custList";  
}
}
</script>
</body>
</html>
