<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC | <%= title %></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= title %></h3>
                <p><%= message %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                   
                    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
     
      <br>
      <div align="center">
    <div class="span12" style="margin:2px;padding:20px;border-width: 1px;border-style:solid;border-color:#4d94ff;">
    <div class="row">
    <table class="table table-bordered text-center">
    <tr>
    <td nowrap><a href="/get_app_versions"style="color:white"><button type="button" class="btn btn-danger">Version Details</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/enable_Insert_version"style="color:white"><button  type="button" class="btn btn-primary">New Version</button></a></td>
    </tr>
    </table>
    </div>
    <br>
    <!--table data and form  -->
    <%if(global.insertVersion){%>
    <div>
    <form role="form" action="insert_version" method="post">
    <table class="table table-bordered text-center">
    <tr><td><strong>Verion Number : &nbsp;&nbsp;&nbsp;</strong>
    <input type="text" id="version" name="version"></td></tr>
    <tr>
    <td><button type="submit" class="btn btn-success">Submit</button></td>
    </tr>
    </table>
    </form>
    </div>
    <%}%>
    <%if(global.versionDetails){%>
    <div align="center">
    <table id="example2" class="table table-bordered table-striped">
                    <thead>
                      <tr bgcolor="#0073e6" style="color:white;">
                        <th nowrap>Sr.no</th>
                        <th nowrap>Version</th>
                        <th nowrap>Updated By</th>
                        <th nowrap>Updated On</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% if(ver!==undefined){
                            for(var i=0;i<ver.length;i++){

                          %>

                    <tr>
                      <td nowrap><%= i+1 %></td>
                      <td nowrap><%= ver[i].version %></td>
                      <td nowrap><%= ver[i].updatedBy %></td>
                      <td nowrap><%= ver[i].created_at.toLocaleString()  %></td>
                    </tr>
                    <% }

                    }%>
                    

                    </tbody>

                  </table>
    </div>
    <%}%>
    <p style="color:red"><%= sectionMessage %></p>
    </div>
    </div>


    </section>

    
  </div>
</div></div></div>
                  </div>
                 
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  <!-- footer content -->
        <% include footer %>
  </body>
</html>
