<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2017 - <a href="http://cableguy.in">Cableguy</a>.</strong> All rights reserved.
    |<a STYLE="font-size: 95%;color:black;text-decoration:none;" target="_blank" href="http://cableguy.in/disclaimer.html"> Disclaimer</a> |
    <a STYLE="font-size: 95%;color:black;text-decoration:none;" target="_blank" href="http://cableguy.in/privacy.html">Privacy Policy</a> |
    <a STYLE="font-size: 95%;color:black;text-decoration:none;" target="_blank" href="http://ec2-35-154-198-134.ap-south-1.compute.amazonaws.com/Static/ContactUs.aspx">Contact Us</a>
  </footer>
