<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily Collection</title>

    <% include header %>
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>
        <div class="right_col" role="main">
        
         </div>
      </div>
    </div>


<% include scripts %>
<% include footer %>

  </body>
</html>
