<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header_css %>




</head>
<body class="nav-md">

  <% include header %>

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
           



            <div style="overflow:scroll;">
            <!-- /.box-header -->
              <form role="form" method='post' action='' >
                <table id="datatable-buttons" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th nowrap>Sr. No</th>
                    <th nowrap>Receipt No</th>
                    <th nowrap>Receipt Date</th>
                    <th nowrap>Customer Id</th>
                    <th nowrap>Customer Name</th>
                    <th nowrap>Opening Balance</th>
                    <th nowrap>Paid Amount</th>
                    <th nowrap>Revoke Amount</th>
                    <th nowrap>Closing Balance</th>
                    </tr>
                  </thead>
                  <tbody>

                  <% if(pays!==undefined && cust!==undefined){
                        for(var i=0;i<pays.length && i<cust.length;i++){

                      %>
                  <tr>
                    <td nowrap><%= i+1 %></td>
                    <td nowrap><%= cust[i].receiptId %></td>
                    <%var date = pays[i].created_at.toLocaleString('en-US',{hour12:false}).split(" ");

                    var time = date[1];
                    var mdy = date[0];

                    mdy = mdy.split('/');
                    var month = parseInt(mdy[0]);
                    var day = parseInt(mdy[1]);
                    var year = parseInt(mdy[2]);
                    console.log("mday : "+mdy)
                    // Putting it all together
                    var formattedDate = day + '/' + month + '/' + year + ' ' + time;
                    %>
                    <td nowrap><%= formattedDate %></td>
                    <td nowrap><%= cust[i].customerId %></td>
                    <td nowrap><%= cust[i].name %></td>
                    <td nowrap><%= cust[i].netPlotAmount %></td>
                    <td nowrap><%= cust[i].paidAmount %></td>
                    <td nowrap><%= cust[i].drAmt %></td>
                    <td nowrap><%= cust[i].balance %></td>

                  </tr>
                  <% }

                  }%>

                  </tbody>

                </table>

              </form>

              </div></div></div>

                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<!-- ./wrapper -->


<% include scripts %>
<script>
  $(document).ready(function() {
    var handleDataTableButtons = function() {
      if ($("#datatable-buttons").length) {
        $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          //deferLoading: 57,tableRowsCount
          buttons: [
            {
              extend: "copy",
              className: "btn-sm"
            },
            {
              extend: "csv",
              className: "btn-sm"
            },
            {
              extend: "excel",
              className: "btn-sm"
            },
            {
              extend: "pdfHtml5",
              className: "btn-sm"
            },
            {
              extend: "print",
              className: "btn-sm"
            },
          ],
          //responsive: true,
          paging: true,
          lengthChange: true,
          searching: true,
          ordering: true,
          info: true

        });
      }
    };

    TableManageButtons = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons();
        }
      };
    }();

    $('#datatable').dataTable();

    $('#datatable-keytable').DataTable({
      keys: true
    });

    $('#datatable-responsive').DataTable();

    $('#datatable-scroller').DataTable({
      ajax: "js/datatables/json/scroller-demo.json",
      deferRender: true,
      scrollY: 380,
      scrollCollapse: true,
      scroller: true
    });

    $('#datatable-fixed-header').DataTable({
      fixedHeader: true
    });

    $("#datatable").dataTable({
      'order': [[ 1, 'asc' ]],
      'columnDefs': [
        { orderable: false, targets: [0] }
      ]
    });
    $("#datatable").on('draw.dt', function() {
      $('input').iCheck({
        checkboxClass: 'icheckbox_flat-green'
      });
    });

    TableManageButtons.init();
  });
  function paymentDetailsClicked(event){
    document.getElementById('manipulate').value = "payment_details";
    document.getElementById('brdsform').submit();
  }
  function renewClicked(event){
    document.getElementById('manipulate').value = "renew";
    document.getElementById('brdsform').submit();
  }
  function renewAllClicked(event){
    document.getElementById('manipulate').value = "renewall";
    document.getElementById('brdsform').submit();
  }
</script>
    <!-- /Datatables -->

  <% include footer %>
</body>
</html>
