<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar-header" style="border:0;background-color:#ffffff;padding:10px">
            
              <a href="/dashboard_mso"><img src="/images/logo_1.png"  class="img-responsive" style="width: 100%;height:100%;"/></a>
              
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>User</h2>
              </div>
            </div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="/dashboard_mso"><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li><a><i class="fa fa-users"></i> Customers <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/mso_cust_list" target="_blank"> List</a></li>
                      <li><a href="/mso_lco_del_cust" target="_blank"> Deleted Customers</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/mso_lco_transaction" target="_blank">Transactions</a></li>
                      <li><a href="/mso__lco_outstanding" target="_blank">Outstanding</a></li>
                      <li><a href="/get_mso_payment_revoke" target="_blank">Payment Revoke</a></li>
                      <li><a href="/get_mso_lco_payment" target="_blank">Party Ledger</a></li>

                    </ul>
                  </li>
                  <li><a><i class="fa fa-credit-card"></i> Payment <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/get_payment_mso">Payment Reversal</a></li>

                    </ul>
                  </li>
                  <li><a href="/get_password_mso"><i class="fa fa-key"></i>Change Password</a>

                  </li>
                  <li><a href="/signoutmso"><i class="fa fa-desktop"></i>Logout</a>

                  </li>
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
            </nav>
          </div>
        </div>
