<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header_css %>



</head>
<body class="nav-md">
    <% include header %>

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
            <% if(message!=''){ %>
              <div>
                <h4 style="color: red"><%= message %> </h4>
              </div>
            <%
            }
            %>



            <div style="overflow:scroll;">
            <!-- /.box-header -->
              <form role="form" method='post' action='customer_manipulate' id='brdsform' >
                <table id="datatable-buttons" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Select</th>
                      <th>Serial No.</th>
                      <th>Customer Id</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Plot No.</th>
                      <th>Phone Number</th>
                      <th>Alt Number</th>
                      <th>Net Plot Amount</th>
                      <th>Total Paid Amount</th>
                      <th>Balance Amount</th>
                    </tr>
                  </thead>


                  <tbody>
                    <% if(subs!==undefined){
                            for(var i=0;i<subs.length;i++){

                          %>
                    <tr>
                      <td><input type="radio" name="subsValue" value='<%= subs[i].customerId%>'></td>
                      <td><%= i+1 %></td>
                      <td><%= subs[i].customerId %></td>
                      <td><%= subs[i].name %></td>
                      <td><%= subs[i].address %></td>
                      <td><%= subs[i].plotNo %></td>
                      <td><%= subs[i].mobileNo %></td>
                      <td><%= subs[i].altNo %></td>
                      <td><%= subs[i].netPlotAmount %></td>
                      <td><%= subs[i].totalPaidAmount %></td>
                      <td><%= subs[i].balanceAmount %></td>
                    </tr>
                    <% }

                    }%>
                  </tbody>

                  </table>
                  
                <!-- <div class="box-footer">
                  <button type="submit" name="manipulate" value="reassign" class="btn btn-primary">Reset IMEI(s)</button>
                </div> -->
                <br>
                  <div class="box-footer">
                    <input type="hidden" name="manipulate" id="manipulate" />
                    <button type="submit" onclick="call();" class="btn btn-primary">Delete Customer</button>
                    <button type="submit" onclick="paymentDetailsClicked(event);"  class="btn btn-primary">Payment Details</button>
                  </div>
              </form>

              </div></div></div>

                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->



<!-- ./wrapper -->


<% include scripts %>





        <!-- <script>
          $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
              "paging": true,
              "lengthChange": true,
              "searching": true,
              "ordering": true,
              "info": true,
              "autoWidth": false
            });
          });
        </script> -->

    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              //deferLoading: 57,tableRowsCount
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true,
              paging: true,
              lengthChange: true,
              searching: true,
              ordering: true,
              info: true

            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();

        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        $("#datatable").dataTable({
          'order': [[ 1, 'asc' ]],
          'columnDefs': [
            { orderable: false, targets: [0] }
          ]
        });
        $("#datatable").on('draw.dt', function() {
          $('input').iCheck({
            checkboxClass: 'icheckbox_flat-green'
          });
        });

        TableManageButtons.init();
      });
      function paymentDetailsClicked(event){
        document.getElementById('manipulate').value = "payment_details";
        document.getElementById('brdsform').submit();
      }
      function renewClicked(event){
        document.getElementById('manipulate').value = "renew";
        document.getElementById('brdsform').submit();
      }
      function renewAllClicked(event){
        document.getElementById('manipulate').value = "renewall";
        document.getElementById('brdsform').submit();
      }
      function call(){
        if (confirm("Want to delete Selected Customer ?") == true) {
          document.getElementById('manipulate').value = "delete";  
        } else {
          document.getElementById('manipulate').value = "custList";  
        }
      }
    </script>
    <!-- /Datatables -->

  <% include footer %>
</body>
</html>
