<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to cableguy</title>

    <!-- Bootstrap Core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
label
{
    color:black;
    font-size-adjust: 20px;
}
button
{
    
    font-size:13px;
}
p{
    color:white;

}
p:hover
{
    color:#64e8d1 ;
}
footer:hover{
   background-color:rgba(211, 207, 194, 0.53);

}

    .videodiv :hover
    {
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
     .footerstyle
    {
        background-color: rgba(62, 64, 149, 0.46);
        padding: 15px;
    }
     .footerstyle:hover
    {
        color: #64e8d1 !important;
        background-color: rgba(62, 64, 149, 0.92);
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }


</style>

</head>
<body  style="background-image: url('./images/login.jpg');background-size: cover;background-repeat: no-repeat;background-position: center center fixed;background-attachment: fixed;"></br><br>
   <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                <div class="row">
                <div class="col-md-12">
           <marquee style="border-radius: 5px;border:2px solid #c4bcaf;padding: 0px;color:white;font-size:20px;margin-right: 0px"><b>Welcome to Cable Guy....</b></marquee>
    </div></div><br>
<div class="col-md-4">
</div>
   <div class="col-md-4 col-xs-12">
                        <form role="form" class="form-signin" method="post" action="authenticate">
                        <div class="row">
                            <div class="col-sm-12 hidden-sm">
                                <a href=""><img src="./images/logo_1.png" class="img-responsive" alt="CableGuy" 
                               style="padding: 25px;border-radius: 9px;background-color: rgba(211, 207, 194, 0.53);"/></a>
                            </div>
                        </div>
                      
                            <center><input type="text" 
                            style="font-size:11pt;color: white;text-align:center;visibility: hidden; display:inline;"
                            id="message" name="message" class="login-box-msg" value='<%= message %>'></center>
                        <div class="col-md-4" style="font-size:11pt;color:white;text-align:center">
                            Username :
                        </div>
                        <div class="col-md-8 col-sm-12">
                             <input type="text" class="form-control" id="username" name="username" placeholder="">
                        </div>
                            <br class="hidden-xs"/><br />
                        <div class="col-md-4" style="font-size:11pt;color:white;text-align:center">
                            Password :
                        </div>
                        <div class="col-md-8">
                           <input type="password" class="form-control" id="password" name="password" placeholder="">
                        </div>
                            <br class="hidden-xs"/><br /><br />
                            <div class="">
                            <center>
                                 <center>
                               <button type="submit" onclick="dovalid()" class="btn btn-primary ">Login</button>&nbsp;&nbsp;
                               <a href="#"><button type="button" class="btn btn-danger ">Forgot password</button></a>
                            </center>
                            </center>
                        </div>
                        
                      </form>
                            <br class="hidden-xs"/><br />
                        <div class="" style="font-size:11pt;border-radius: 5px;">
                            <div class="col-md-12 col-xs-12">
                            <br class="visible-xs"/>
                            <center>
                            <span class="col-md-12 col-xs-12 col-sm-12 col-lg-12 footerstyle"  style="margin-top: -13px;border-radius: 8px;">
                                <p>&copy;&nbsp;2017- CableGuy. All rights reserved.
                                <br />
                                <a style="color:white;" href="http://cableguy.in/disclaimer.html"><u>Disclaimer </u>| </a>
                                <a style="color:white;" href="http://cableguy.in/privacy.html"><u>Privacy Policy </u>| </a>
                                <a style="color:white;" href="http://ec2-35-154-198-134.ap-south-1.compute.amazonaws.com/Static/ContactUs.aspx">
                                <b><u>Contact Us</u></b></a></center>
                                </p>
                            </span>
                        </div>  
                        </div>
                    </div>
                   

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script type="text/javascript" language="javascript">
    function dovalid() {
        //  alert(document.getElementById("message").value)
        if (document.getElementById("username").value == "") {
            alert("Please Enter User Name");
            document.getElementById("username").focus();
            return false;
        }
        if (document.getElementById("password").value == "") {
            alert("Please Enter Password");
            document.getElementById("password").focus();
            return false;
        }
                   
       
    }
</script>

</body>

</html>
