<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC</title>
<!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>

  <body class="hold-transition login-page" style="background-image: url(../../images/img3.jpg); background-size: cover; background-repeat: no-repeat; background-position:center center fixed; margin-top:200px; -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;">

    <div class="login-box">

  <div class="login-box-body">
    <p class="login-box-msg"><%= message %></p>
            <form action="authenticate" method="post">
              <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Username" id="username" name="username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" id="password" name="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div style="width:100px; margin:0 auto;">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
<!-- /.col --><br/>
      <p class="login-box-msg"><a href="http://ec2-52-66-25-106.ap-south-1.compute.amazonaws.com/Static/ContactUs.aspx">Contact Us</a></p>
      <p class="login-box-msg"><a href="http://cableguy.in/disclaimer.html">Disclaimer</a> | <a href="http://cableguy.in/privacy.html">Privacy Policy</a></p>
      <p class="login-box-msg">© 2017 - CableGuy. All rights reserved.</p>
      </div>
            </form>
          </section>
        </div>
      </div>
  </body>
</html>
