<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and` media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body  class="hold-transition login-page" style="background-image: url(../../images/cg_bg-img.jpg); background-size: cover; 
background-repeat: no-repeat; background-position:center center fixed; margin-top:20px; -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;" >
  <!-- style="background: url(./images/water_bg2.jpg)" -->
  <div class="container container-table">
    <div class="row ">
       
</div>
</div>
  <!-- /.login-logo -->
 
    <form id="form1" runat="server">
    <div class="cg_logoff_bgimage">
        <center>
            <div class="pull-center">
            <br />
              <div class="row">
                    <div class="col-md-12">
                        <a href="/"><img src="images/logo_1.png" class="img-responsive" alt="CableGuy" 
                        style="height:cover;width:cover;padding: 10px;border-radius: 9px;background-color: rgba(211, 207, 194, 0.23);"/></a>
                    </div>
                </div>
            <br />
                <img src="images/logout.png" class="img-responsive" />
            </div>
        <h4><a href="/"><u>Login Again</u></a></h4></center>
        <center>
            <h3>OR</h3>
        </center>
        <center>
            <h4>Go to &nbsp;<a href="/"><u>Home Page</u></a></h4>
        </center>
        
    </div>
    </form>

    <!-- <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div> -->
    <!-- /.social-auth-links -->

  <!-- /.login-box-body -->

<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>

</body>
</html>
