<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC | <%= title %></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= title %></h3>
                <p Style="color:red;font-size:14px;"><%= sectionMessage %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <ul class="nav navbar-right panel_toolbox">
                      </li>

                    </ul>
                  </div>
                  <div>
                  <div class="container">
                    <div class="row">
                    <form role="form" method='post' action='change_password_agent'>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Agent Id<span style="color:red;" class="required">*</span></label>
                            <input type="text" class="form-control" name="id" id="id" value="<%= agent.agentId%>" readonly>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Agent Name<span style="color:red;" class="required">*</span></label>
                            <input type="text" class="form-control" name="name" id="name" value="<%= agent.name%>" readonly>
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">New Password</label>
                            <input type="text" class="form-control"  name="password" id="password">
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Confirm Password<span style="color:red;" class="required">*</span></label>
                            <input type="text"  class="form-control" name="conpassword" id="conpassword" required>
                        </div>
                        
                        
                        <div class="clearfix"></div><br/><br/>
                        <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>

                    <br /><br />
                    </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% global.custError=false;%>
       <% global.custAdded=false;%>
        <!-- /page content -->

        <!-- footer content -->
        <% include footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

  </body>
</html>
