<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DC | Payment Revoke</title>
    <!-- Tell the browser to be responsive to screen width -->
    <% include header_css %>

        <!-- Bootstrap -->
        <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- NProgress -->
        <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
        <!-- iCheck -->
        <link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">
        <!-- Datatables -->
        <link href="../vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
        <link href="../vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="../build/css/custom.min.css" rel="stylesheet">


</head>

<body class="nav-md">

    <% include header %>

        <% include sidebar %>

            <div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <h3>
                                        <%= title %>
                                    </h3>
                                    <% if(message!=''){ %>
                                        <div>
                                            <p style="color:#ff4d4d;">
                                                <%= message %>
                                            </p>
                                        </div>
                                        <%
            }
            %>



                                            <div style="overflow:scroll;">
                                                <!-- /.box-header -->
                                                <div class="wrapper container">
                                                    <form role="form" method="post" name="customer_delete" action="customer_delete">

                                                        <div class="row" align="center">
                                                            <div class="centerBlock">
                                                                <div class=" col-lg-offset-2">
                                                                    <div class="col-xs-4">
                                                                        <h4 class="red-text text-center">Please Customer Code : </h2>
                                                                    </div>
                                                                    <div class="col-xs-3 col-centered"><input type="text" class="form-control" required="required" name="custId"></div>
                                                                    <div class="col-xs-1 col-centered"><button type="submit" class="btn btn-info">Submit</button></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                        <center>
                                                            <p class="box-title" style="color:red;size:20">
                                                                <%= sectionMessage %>
                                                            </p>
                                                            <center>
                                                    </form>
                                                    <div id="sub_details" class="form-group row" style="margin:10px;display:none">
                                                        <div class="col-md-12">
                                                            <div class="table-responsive">
                                                                <br class="visible-lg" /><br class="visible-xs" />
                                                                <table class="table table-bordered table-hover" id="subsriberDetailsTable">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Sr No</th>
                                                                            <th>Customer Id</th>
                                                                            <th>Customer Name</th>
                                                                            <th>Mobile No</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>

                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                    <!-- /.box -->


                </div>
                <!-- /.col -->

                <!-- /.row -->
                </section>
                <!-- /.content -->
            </div>
            <!-- Model -->
            <div class="modal fade" id="errorDialog" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="errorTitle" style="color:black;">Error</h4>
                        </div>
                        <div class="modal-body">
                            <center><img src="./images/error.png" height="70" width="70"></center>
                            <br>
                            <p id="errorText" style="color:red;text-align:center;font-size:13pt"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="padding:10dp" class="btn btn-danger" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Model -->
            <!-- Model -->
            <div class="modal fade" id="successDialog" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="successtile" style="color:black;">Error</h4>
                        </div>
                        <div class="modal-body">
                            <center><img src="./images/success.png"></center>
                            <br>
                            <p id="successText" style="color:green;text-align:center;font-size:13pt"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" style="padding:10dp" class="btn btn-success" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Model -->
            <!-- Model -->
            <div class="modal fade" id="confirmDialog" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog modal-sm">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="errorTitle" style="color:black;">Remove Customer </h4>
                        </div>

                        <div class="modal-footer">
                            <button type="button" style="padding:10dp" class="btn btn-primary" data-dismiss="modal">cancel</button>
                            <button type="button" onclick="deleteCustomer()" style="padding:10dp" class="btn btn-danger" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>

</body>
<!-- end of Model -->
<!-- ./wrapper -->
<!-- /.content-wrapper -->


<% include footer %>


    <% include scripts %>

        <!-- Datatables -->
        <script src="../vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="../vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="../vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="../vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="../vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="../vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="../vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
        <script src="../vendors/jszip/dist/jszip.min.js"></script>
        <script src="../vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="../vendors/pdfmake/build/vfs_fonts.js"></script>

        <script>
            $(function() {
                $("#example1").DataTable();
                $('#example2').DataTable({
                    "paging": true,
                    "lengthChange": true,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false
                });
            });
        </script>
        <!-- Datatables -->
        <script>
            $(document).ready(function() {
                var handleDataTableButtons = function() {
                    if ($("#datatable-buttons").length) {
                        $("#datatable-buttons").DataTable({
                            dom: "Bfrtip",
                            //deferLoading: 57,tableRowsCount
                            //deferLoading: ,
                            buttons: [{
                                extend: "copy",
                                className: "btn-sm"
                            }, {
                                extend: "csv",
                                className: "btn-sm"
                            }, {
                                extend: "excel",
                                className: "btn-sm"
                            }, {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            }, {
                                extend: "print",
                                className: "btn-sm"
                            }, ],
                            responsive: true
                        });
                    }
                };

                TableManageButtons = function() {
                    "use strict";
                    return {
                        init: function() {
                            handleDataTableButtons();
                        }
                    };
                }();

                $('#datatable').dataTable();

                $('#datatable-keytable').DataTable({
                    keys: true
                });

                $('#datatable-responsive').DataTable();

                $('#datatable-scroller').DataTable({
                    ajax: "js/datatables/json/scroller-demo.json",
                    deferRender: true,
                    scrollY: 380,
                    scrollCollapse: true,
                    scroller: true
                });

                $('#datatable-fixed-header').DataTable({
                    fixedHeader: true
                });

                var $datatable = $('#datatable-checkbox');

                $datatable.dataTable({
                    'order': [
                        [1, 'asc']
                    ],
                    'columnDefs': [{
                        orderable: false,
                        targets: [0]
                    }]
                });
                $datatable.on('draw.dt', function() {
                    $('input').iCheck({
                        checkboxClass: 'icheckbox_flat-green'
                    });
                });

                TableManageButtons.init();
            });
        </script>
        <!-- /Datatables -->
        <script>
            function call() {
                if (confirm("Want to delete Selected Customer ?") == true) {
                    document.getElementById('manipulate').value = "delete";
                } else {
                    document.getElementById('manipulate').value = "custList";
                }
            }
        </script>
        <%include customer_delete_script%>

</html>