<!DOCTYPE html>
<html lang="en">
  <head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GSP | <%= title %></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= title %></h3>
                <p style="color:red;"><%= message %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>
           <hr>
            <div class="row" style="margin:10px;padding:10px;border-style: solid;border-width: 1px;">
              <div class="col-md-12 col-sm-12 col-xs-12">
                     <!-- start -->
                     <table width="100%" cellspacing='1' cellpadding='3' class='postable'  style="text-align:center;">
                     <tr>
                     <td><div style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_ugmso" target="_blank"><p>MSO List</p></a></div></td>
                     <td><div style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_ugdist" target="_blank"><p>Distributor List</p></a></div></td>
                     <td><div style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_uglco" target="_blank"><p>LCO List</p></a></div></td>
                     <td><div style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_ugagent" target="_blank"><p>Agent List</p></a></div></td>
                     </tr>
                     </table>
                     <!--
                     <div>
                    <div class="container-fluid" style="margin: 0 auto;width: 100%;">
                    
                    <div class="row" align="center" style:"padding:50px;">
                        <div class="col-sm-3" style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_ugmso" target="_blank"><p>MSO List</p></a></div>
                        <div class="col-sm-3" style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_ugdist" target="_blank"><p>Distributor List</p></a></div>
                        <div class="col-sm-3" style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_uglco" target="_blank"><p>LCO List</p></a></div>
                        <div class="col-sm-3" style="background-color:lavender;padding:5px;margin:5px;border: 1px solid black"><a href="/list_ugagent" target="_blank"><p>Agent List</p></a></div>
                       </div>
                    </div>
                    </div>
                      -->
                     <!-- end -->
              </div>
            </div>
          </div>
        </div>
        <% global.agentAdded=false;%>
        <% global.agentAddError=false;%>
        <!-- /page content -->

        <!-- footer content -->
        <% include footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

  </body>
</html>
