<head>
    <style>
        .navbar-default {
            background-color: #F8F8F8;
            border-color: #E7E7E7;
        }
    </style>
</head>

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <div class="navbar-header" style="border:0;background-color:#ffffff;padding:10px">

                    <a href="/dashboard_ugadmin"><img src="/images/logo_1.png" class="img-responsive" style="width: 100%;height:100%;" /></a>

                </div>

                <div class="clearfix"></div>


                <div class="profile clearfix">
                    <div class="profile_info">
                        <span>Welcome</span>
                        <h2>Administrator</h2>
                    </div>
                </div>

                <br />

                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a href="/dashboard_ugadmin"><i class="fa fa-home"></i> Home</a>
                            </li>
                            <li><a><i class="fa fa-user"></i> Master <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/get_stakeholder_page">Create Stake Holder </a></li>
                                    <li><a href="/add_ugagent">Create User </a></li>
                                    <li><a href="/get_update_gold_rate_admin">Gold Rate Master </a></li>
                                </ul>
                            </li>


                            <li><a><i class="fa fa-cogs"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/get_upload_page">Upload Data</a></li>

                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/get_report_page">Management Report</a></li>

                                </ul>
                            </li>
                            <li><a><i class="fa fa-edit"></i> Admin <span class="fa fa-chevron-down"></span></a>

                                <ul class="nav child_menu">
                                    <li><a href="/get_payment_ugadmin">Payment Reversal</a></li>
                                    <li><a href="/get_password_ugadmin">Change Password</a></li>
                                    <li><a href="/customer_delete">Delete Customer</a></li>
                                </ul>
                            </li>

                            <li><a href="/ugsignout"><i class="fa fa-desktop"></i>Logout</a>

                            </li>
                    </div>

                </div>
            </div>
        </div>

        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>
        </div>