<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC | <%= title %></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= title %></h3>
                <p Style="color:red;font-size:15px;"><%= sectionMessage %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <ul class="nav navbar-right panel_toolbox">
                      </li>

                    </ul>
                  </div>
                  <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post" id="brdsform"  action='add_customer_lco'>
                      
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Customer Code <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="custId" class="form-control col-md-7 col-xs-12" name="custId"  type="text" required>
                        </div>
                      </div>
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Customer Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12"name="name"  type="text" required >
                        </div>
                      </div>
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea id="address" required="required" name="address" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                      </div>
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pinCode">Plot Number <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="plotNo" class="form-control col-md-7 col-xs-12" name="plotNo"  type="text" required>
                        </div>
                      </div>
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Mobile Number <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="mobNo" class="form-control col-md-7 col-xs-12" name="mobNo" maxLength="10"  type="text" required>
                        </div>
                      </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Alt Phone Number 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="altNo" class="form-control col-md-7 col-xs-12" name="altNo"   type="text" >
                        </div>
                      </div>
					            <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactPerson">Net Plot Amount <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="netPlot" class="form-control col-md-7 col-xs-12" name="netPlot" type="number" required>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactPerson">Total Paid Amount <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="totalPaid" class="form-control col-md-7 col-xs-12" name="totalPaid"  type="number" required>
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contactPerson">Balance Amount <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="balAmt" class="form-control col-md-7 col-xs-12" name="balAmt" type="number" required>
                        </div>
                      </div>
                      <br/><br/>
                      <div align="center" class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button id="send" type="submit" class="btn btn-primary" name="add_cust" value="false">Add Customer</button>

                        </div>
                      </div>
                    </form>


					           <div class="ln_solid"></div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% global.custError=false;%>
       <% global.custAdded=false;%>
        <!-- /page content -->

        <!-- footer content -->
        <% include footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

  </body>
</html>
