<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DC| Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->

</head>
<body class="nav-md">

  <% include header %>

  <% include sidebar %>


  <div class="right_col" role="main">
    <div class="">


      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div><%= message %></div>
            <% if(!(uploadMessage===undefined)){%>


              <h3><%= uploadMessage%></h3>


            <% } %>

            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method='post' action='upload' enctype="multipart/form-data">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type='file' name='fileUploaded' accept=".csv">
                </div>
              </div>
              <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
            </form>
<% if(!(filename===undefined)){%>

            <div class="box-header with-border">
              <h3 class="box-title">
              Uploaded File:
              <a href='<%= filepath%>'>
              <%= filename%></a></h3>
            </div>

            <% } %>
            <% uploaded=false; %>
          </div>
        </div>

</div>

    </section>
    <!-- /.content -->


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<!-- ./wrapper -->


<% include scripts %>
  <% include footer %>


</body>
</html>
