<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header_css %>



</head>
<body class="nav-md">

  <% include header %>

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
            <% if(message!=''){ %>
              <div>
                <h3><%= message %> </h3>
              </div>
            <%
            }
            %>

            <div class="row">
              <div class="col-md-offset-2">

                <form action="/lco_transaction" method="post">

                <table border="0" cellspacing="5" cellpadding="5">
                <tbody><tr>
                <td><label for="startDate">Start Date&nbsp;&nbsp;&nbsp;</label></td>
                <td><input type="date" value="<%= startDate%>" id="startDate" name="startDate" data-date-format="dd-mm-yyyy"></td>
                <td><label for="startDate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                <td><label for="endDate">End Date&nbsp;&nbsp;&nbsp;</label></td>
                <td><input type="date" value="<%= endDate%>" name="endDate" data-date-format="dd-mm-yyyy"></td>
                <td><label for="space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                <td><input type="submit" name="getData" onclick="" value="Submit" class="btn btn-primary"></td>
                </tr>
                </tbody></table>
              </form>
            </div>
            </div>



            <div style="overflow:scroll;">
            <!-- /.box-header -->
            <br/>
            <label style="color:#ff3333;" for="startDate">Transaction Report From &nbsp;&nbsp;<%= startDate%> To &nbsp;&nbsp;<%= endDate%></label><br/><br/>
              <form role="form" method='post' action='' >
                <table id="datatable-buttons" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                    <th nowrap>Sr. No</th>
                    <th nowrap>Customer Id</th>
                    <th nowrap>Customer Name</th>
                    <th nowrap>Receipt No</th>
                    <th nowrap>Receipt Date </th>
                    <th nowrap>Opening Balance</th>
                    <th nowrap>Paid Amount</th>
                    <th nowrap>Closing Balance</th>
                    <th nowrap>Mode</th>
                    <th nowrap>Cheque No.</th>
                    <th nowrap>Bank Name</th>
                    <th nowrap>Cheque Date</th>
                    <th nowrap>Collected By</th>
                    <th nowrap>Remarks</th>
                    </tr>
                  </thead>
                  <tbody>

                  <% if(pays!==undefined){
                    var amt=0;
                        for(var i=0;i<pays.length;i++){

                      %>
                  <tr>
                    <td nowrap><%= i+1 %></td>
                    <td nowrap><%= pays[i].customerId %></td>
                    <td nowrap><%= pays[i].name %></td>
                    <td nowrap><%= pays[i].id %></td>
                    <%var date = pays[i].created_at.toLocaleString('en-US',{hour12:false}).split(" ");

                    var time = date[1];
                    var mdy = date[0];

                    mdy = mdy.split('/');
                    var month = parseInt(mdy[0]);
                    var day = parseInt(mdy[1]);
                    var year = parseInt(mdy[2]);
                    console.log("mday : "+mdy)
                    // Putting it all together
                    var formattedDate = day + '/' + month + '/' + year + ' ' + time;
                    %>
                    <td nowrap><%= formattedDate%></td>
                    <td nowrap><%= pays[i].netPlotAmount%></td>
                    <td nowrap><%= pays[i].paidAmount %></td>
                    <td nowrap><%= pays[i].balance %></td>
                    <td nowrap><%= pays[i].mode %></td>
                    <td nowrap><%= pays[i].chequeNo %></td>
                    <td nowrap><%= pays[i].bankName %></td>
                    <td nowrap><%= pays[i].chequeDate %></td>
                    <td nowrap><%= pays[i].agentId%></td>
                    <td nowrap><%= pays[i].remarks%></td>
                  </tr>
                  <%
                    amt= parseFloat(amt)+parseFloat(pays[i].paidAmount);
                    console.log(amt); 
                    }
                    }%>
                    </tbody>
                    <tr>
                      <td nowrap>Total Collection</td>
                      
                      <td nowrap><b><%= amt %></b></td>
                    </tr>
                  </tbody>

                </table>

              </form>

              </div>
</div></div>
                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<!-- ./wrapper -->


<% include scripts %>

<script>
  $(document).ready(function() {
    var handleDataTableButtons = function() {
      if ($("#datatable-buttons").length) {
        $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          //deferLoading: 57,tableRowsCount
          buttons: [
            {
              extend: "copy",
              className: "btn-sm"
            },
            {
              extend: "csv",
              className: "btn-sm"
            },
            {
              extend: "excel",
              className: "btn-sm"
            },
            {
              extend: "pdfHtml5",
              className: "btn-sm"
            },
            {
              extend: "print",
              className: "btn-sm"
            },
          ],
          //responsive: true,
          paging: true,
          lengthChange: true,
          searching: true,
          ordering: true,
          info: true

        });
      }
    };

    TableManageButtons = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons();
        }
      };
    }();

    $('#datatable').dataTable();

    $('#datatable-keytable').DataTable({
      keys: true
    });

    $('#datatable-responsive').DataTable();

    $('#datatable-scroller').DataTable({
      ajax: "js/datatables/json/scroller-demo.json",
      deferRender: true,
      scrollY: 380,
      scrollCollapse: true,
      scroller: true
    });

    $('#datatable-fixed-header').DataTable({
      fixedHeader: true
    });

    $("#datatable").dataTable({
      'order': [[ 1, 'asc' ]],
      'columnDefs': [
        { orderable: false, targets: [0] }
      ]
    });
    $("#datatable").on('draw.dt', function() {
      $('input').iCheck({
        checkboxClass: 'icheckbox_flat-green'
      });
    });

    TableManageButtons.init();
  });
  function paymentDetailsClicked(event){
    document.getElementById('manipulate').value = "payment_details";
    document.getElementById('brdsform').submit();
  }
  function renewClicked(event){
    document.getElementById('manipulate').value = "renew";
    document.getElementById('brdsform').submit();
  }
  function renewAllClicked(event){
    document.getElementById('manipulate').value = "renewall";
    document.getElementById('brdsform').submit();
  }
</script>
    <!-- /Datatables -->

  <% include footer %>
</body>
</html>
