<div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar-header" style="border:0;background-color:#ffffff;padding:10px">
            
              <a href="/dashboard_lco"><img src="/images/logo_1.png"  class="img-responsive" style="width: 100%;height:100%;"/></a>
              
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_info">
                <span>Welcome,</span>
                <h2>User</h2>
              </div>
            </div>

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li><a href="/dashboard_lco"><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li><a><i class="fa fa-users"></i> Customers <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/bulk_upload">Bulk Upload </a></li>
                      <li><a href="/get_add_customer_lco">Add Customer</a></li>
                      <li><a href="/cust_list">List</a></li>
                      <li><a href="/lco_del_cust">Deleted Customer List</a></li>
                      <!--<li><a href="/cust_list_lco">Edit Customer</a></li>-->
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Reports <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/lco_transaction">Transactions</a></li>
                      <li><a href="/lco_outstanding">Outstanding</a></li>

                    </ul>
                  </li>
                  <li><a href="/get_password_lco"><i class="fa fa-key"></i>Change Password</a>

                  </li>
                  <li><a href="/signoutlco"><i class="fa fa-desktop"></i>Logout</a>

                  </li>
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
            </nav>
          </div>
        </div>
