<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header_css %>



</head>
<body class="nav-md">
    <% include header %>

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
            <% if(message!=''){ %>
              <div>
                <h3><%= message %> </h3>
              </div>
            <%
            }
            %>



            <div style="overflow:scroll;">
            <!-- /.box-header -->
              <form role="form" method='post' action='subscriber_manipulate' id='brdsform' >
                <table id="datatable-buttons" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Select</th>
                      <th>Serial No.</th>
                      <th>Customer Id</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Plot No.</th>
                      <th>Phone Number</th>
                      <th>Alt Number</th>
                      <th>Net Plot Amount</th>
                      <th>Total Paid Amount</th>
                      <th>Balance Amount</th>
                    </tr>
                  </thead>


                  <tbody>
                    <% if(subs!==undefined){
                            for(var i=0;i<subs.length;i++){

                          %>
                    <tr>
                      <td><input type="radio" name="subsValue" value='<%= subs[i].customerId%>'></td>
                      <td><%= i+1 %></td>
                      <td><%= subs[i].customerId %></td>
                      <td><%= subs[i].name %></td>
                      <td><%= subs[i].address %></td>
                      <td><%= subs[i].plotNo %></td>
                      <td><%= subs[i].mobileNo %></td>
                      <td><%= subs[i].altNo %></td>
                      <td><%= subs[i].netPlotAmount %></td>
                      <td><%= subs[i].totalPaidAmount %></td>
                      <td><%= subs[i].balanceAmount %></td>
                    </tr>
                    <% }

                    }%>
                  </tbody>

                  </table>
                  <div  style="float: left;" class="box-footer">
                    <button class="btn btn-primary" type="submit" name="manipulate"  value="payment"/>Payment Details</button>
                    <button class="btn btn-primary" type="submit" name="manipulate" value="edit"/>Edit Customer</button>
                    <button class="btn btn-primary" type="submit" name="manipulate" value="delete"/>Delete Customer</button>
                  
                  </div>
                <!-- <div class="box-footer">
                  <button type="submit" name="manipulate" value="reassign" class="btn btn-primary">Reset IMEI(s)</button>
                </div> -->
                </div>
              </form>

              </div></div>

                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




<!-- ./wrapper -->


<% include scripts %>
 <!--<script>
          $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
              "paging": true,
              "lengthChange": true,
              "searching": true,
              "ordering": true,
              "info": true,
              "autoWidth": false
            });
          });
        </script>-->
<script>
  $(document).ready(function() {
    var handleDataTableButtons = function() {
      if ($("#datatable-buttons").length) {
        $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          //deferLoading: 57,tableRowsCount
          buttons: [
            {
              extend: "copy",
              className: "btn-sm"
            },
            {
              extend: "csv",
              className: "btn-sm"
            },
            {
              extend: "excel",
              className: "btn-sm"
            },
            {
              extend: "pdfHtml5",
              className: "btn-sm"
            },
            {
              extend: "print",
              className: "btn-sm"
            },
          ],
          responsive: true,
          paging: true,
          lengthChange: true,
          searching: true,
          ordering: true,
          info: true

        });
      }
    };

    TableManageButtons = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons();
        }
      };
    }();

    $('#datatable').dataTable();
    // $('#datatable').dataTable({
    //   "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
    // });
    $('#datatable-keytable').DataTable({
      keys: true
    });

    $('#datatable-responsive').DataTable();

    $('#datatable-scroller').DataTable({
      ajax: "js/datatables/json/scroller-demo.json",
      deferRender: true,
      scrollY: 380,
      scrollCollapse: true,
      scroller: true
    });

    $('#datatable-fixed-header').DataTable({
      fixedHeader: true
    });

    $("#datatable").dataTable({
      'order': [[ 1, 'asc' ]],
      'columnDefs': [
        { orderable: false, targets: [0] }
      ]
    });
    $("#datatable").on('draw.dt', function() {
      $('input').iCheck({
        checkboxClass: 'icheckbox_flat-green'
      });
    });

    TableManageButtons.init();
  });
  function paymentDetailsClicked(event){
    document.getElementById('manipulate').value = "payment_details";
    document.getElementById('brdsform').submit();
  }
  function renewClicked(event){
    document.getElementById('manipulate').value = "renew";
    document.getElementById('brdsform').submit();
  }
  function renewAllClicked(event){
    document.getElementById('manipulate').value = "renewall";
    document.getElementById('brdsform').submit();
  }
</script>
    <!-- /Datatables -->
<!--<script>
$(document).ready(function() {
  $("#example2").dataTable({
  "ordering": true,
  "pageLength": 5,
  "deferRender": true,
  "aLengthMenu": [[10,20,50,100,250,500,750,1000, -1], [10,20,50,100,250,500,750,1000,"All"]],
    "pageLength": 25
              });

})
</script>-->
  <% include footer %>
</body>
</html>
