<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DC | Upload</title>
  <!-- Tell the browser to be responsive to screen width -->

</head>
<body class="nav-md">

  <% include header %>

  <% include sidebar %>


  <div class="right_col" role="main">
    <div class="">


      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

              <div class="clearfix"></div>
            </div>
            <div align="center" class="x_content">
            <% if(!(uploadMessage===undefined)){%>


              <h3><%= uploadMessage%></h3>


            <% } %>

            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method='post' action='upload' enctype="multipart/form-data">
              <div align="center" class="box-body">
                <div class="form-group" align="center" >
                <% if(!(message===undefined)){%>

              <label style="color:red" for="exampleInputFile"><%= message%></label>
            <% } %>
                  
                <br/><br/><br/>
                  <input type='file' name='fileUploaded' accept=".csv">
                </div>
                
              </div>
              <br><br>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                      </div>
                    </div>
            </form>
            <strong><p align="right" style="padding-right: 30px;font-size: 15px;" ><a href="/DemoGSP.csv" style="padding:5px;background-color:#d1e0e0;">Download Customer Data Upload Format </a></p></strong>
<p align="right" style="padding-right: 70px;font-size: 15px;" >( Upload Format : <b>.csv(MS-DOS)</b> )</p>
<% if(!(filename===undefined)){%>

            <div class="box-header with-border">
              <h4 class="box-title">
              Uploaded File:
              <a href='<%= filepath%>'>
              <%= filename%></a></h4>
            </div>

            <% } %>
            <% uploaded=false; %>
          </div>
        </div>

</div>

    </section>
    <!-- /.content -->


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<!-- ./wrapper -->


<% include scripts %>
  <% include footer %>


</body>
</html>
