<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header %>



</head>
<body class="nav-md">

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
            <% if(message!=''){ %>
              <div>
                <h3><%= message %> </h3>
              </div>
            <%
            }
            %>



            <div style="overflow:scroll">
            <!-- /.box-header -->
              <form role="form" method='post' action='' id='brdsform' >
                <table id="datatable-buttons" class="table table-bordered table-hover">
                  <thead>
                    <tr  style="background-color:#66b3ff; color:white">
                      <th nowrap>Select</th>
                      <th nowrap>Serial No.</th>
                      <th nowrap>Customer Id</th>
                      <th nowrap>Name</th>
                      <th nowrap>Address</th>
                      <th nowrap>Joining Id</th>
                      <th nowrap>Phone Number</th>
                      <th nowrap>Mobile Number</th>
                      <th nowrap>Plan Name</th>
                      <th nowrap>Plan Amount</th>
                      <th nowrap>SGST</th>
                      <th nowrap>CGST</th>
                      <th nowrap>Paid Amount</th>
                      <th nowrap>Balance Amount</th>
                      <th nowrap>Plan Date</th>
                      <th nowrap>Due Date</th>
                      <th nowrap>Sales Man</th>
                    </tr>
                  </thead>


                  <tbody>
                    <% if(subs!==undefined){
                            for(var i=0;i<subs.length;i++){

                          %>
                    <tr>
                      <td><input type="radio" name="subsValue" value='<%= subs[i].customerId%>'></td>
                      <td><%= i+1 %></td>
                      <td><%= subs[i].customerId %></td>
                      <td><a style="color:green; font-weight:bold" href="/edit_customer?cust_id=<%=subs[i].customerId%>" ><%= subs[i].name %></a></td>
                      <td><%= subs[i].address %></td>
                      <td><%= subs[i].joinId %></td>
                      <td><%= subs[i].phone %></td>
                      <td><%= subs[i].mobileNo %></td>
                      <td><%= subs[i].planName %></td>
                      <td><%= subs[i].planAmt %></td>
                      <td><%= subs[i].sgst %></td>
                      <td><%= subs[i].cgst %></td>
                      <td><%= subs[i].paidAmt %></td>
                      <td><%= subs[i].balanceAmount %></td>
                      <%var date = subs[i].planDate.toLocaleString('en-US',{hour12:false}).split(" ");

                        var time = date[1];
                        var mdy = date[0];

                        mdy = mdy.split('/');
                        var month = parseInt(mdy[0]);
                        var day = parseInt(mdy[1]);
                        var year = parseInt(mdy[2]);
                        console.log("mday : "+mdy)
                        // Putting it all together
                        var formattedDate = day + '/' + month + '/' + year;
                        %>
                      <td nowrap><%= formattedDate%></td>
                        <%var date = subs[i].dueDate.toLocaleString('en-US',{hour12:false}).split(" ");

                          var time = date[1];
                          var mdy = date[0];

                          mdy = mdy.split('/');
                          var month = parseInt(mdy[0]);
                          var day = parseInt(mdy[1]);
                          var year = parseInt(mdy[2]);
                          console.log("mday : "+mdy)
                          // Putting it all together
                          var formattedDate = day + '/' + month + '/' + year;
                          %>
                      <td nowrap><%= formattedDate%></td>
                      <td><%= subs[i].salesman %></td>
                    </tr>
                    <% }

                    }%>
                  </tbody>

                  </table>
                 <!-- <div class="box-footer">
                    <button class="btn btn-info"><input type="hidden" name="manipulate" id="manipulate" />Edit Customer</button>
                  </div>
                 <div class="box-footer">
                  <button type="submit" name="manipulate" value="reassign" class="btn btn-primary">Reset IMEI(s)</button>
                </div>
                </div>-->
              </form>

              </div></div>

                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




<!-- ./wrapper -->


<% include scripts %>


    <!-- Datatables -->

    <script>
      $(document).ready(function() {
        $('#datatable-buttons').DataTable({

                    lengthMenu:[[5,10,15,-1],[5,10,15,'All']],

                    bDestroy:true

        })
      });
      function paymentDetailsClicked(event){
        document.getElementById('manipulate').value = "payment_details";
        document.getElementById('brdsform').submit();
      }
      function renewClicked(event){
        document.getElementById('manipulate').value = "renew";
        document.getElementById('brdsform').submit();
      }
      function renewAllClicked(event){
        document.getElementById('manipulate').value = "renewall";
        document.getElementById('brdsform').submit();
      }
    </script>
    <!-- /Datatables -->

  <% include footer %>
</body>
</html>
