<script>
    var customerId;
    var MSOId;
    $(function() {
        $('form[name=customer_delete]').submit(function() {
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: "json",
                success: function(resultData) {

                    if (resultData.success == true) {
                        if (resultData.data !== undefined) {
                            $('#sub_details').show();
                            $('#subsriberDetailsTable tbody').remove();
                            $('#subsriberDetailsTable').append("<tbody>...</tbody>");
                            if (resultData.data.length !== 0) {
                                for (var i = 0; i < resultData.data.length; i++) {
                                    var subscriber = resultData.data[i];
                                    $('#subsriberDetailsTable tbody')
                                        .append('<tr><td nowrap>' +
                                            (i + 1) +
                                            "</td><td><a href='#' class='delete_cust' id='" + subscriber.customerId + "/" + subscriber.MSOId + "'>" +
                                            subscriber.customerId +
                                            "</a></td><td>" +
                                            subscriber.name +
                                            "</td><td>" +
                                            subscriber.mobileNo +
                                            "</td></tr>");
                                }
                                $('.delete_cust').click(function() {
                                    var idData = $(this).attr('id').split('/');
                                    customerId = idData[0];
                                    MSOId = idData[1];

                                    $('#confirmDialog').modal('show');


                                })
                            }
                        }
                    } else if (resultData.success == false) {
                        $('#errorTitle').text('Error');
                        //planMsg
                        $('#errorText').html(resultData.msg);
                        $('#errorDialog').modal('show');
                    }
                },
                error: function() {
                    alert("Something went wrong");
                }
            });
            return false;
        });
    });

    function deleteCustomer() {
        var url = '<%= SERVER_URL+LCO_CUSTOMER_DELETE_URL%>' + customerId + "/" + MSOId;
        var header = {
            "Access-Control-Allow-Origin": "*",
            "Access-Control-Allow-Headers": "x_access_token, Access-Control-Allow-Origin, Origin, X-Requested-With, Content-Type, Accept,Authorization"
        }

        $.ajax({
            type: "get",
            url: url,
            headers: header,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(result) {
                if (result.success == true) {
                    $('#successtile').text('Success');
                    //planMsg
                    $('#successText').html(result.msg);
                    $('#successDialog').modal('show');
                    $('#subsriberDetailsTable tbody').remove();
                    $('#subsriberDetailsTable').append("<tbody>...</tbody>");
                    for (var i = 0; i < result.data.length; i++) {
                        var subscriber = result.data[i];

                        $('#subsriberDetailsTable tbody')
                            .append('<tr><td nowrap>' +
                                (i + 1) +
                                "</td><td><a href='#' class='delete_cust' id='" + subscriber.customerId + "/" + subscriber.MSOId + "'>" +
                                subscriber.customerId +
                                "</a></td><td>" +
                                subscriber.name +
                                "</td><td>" +
                                subscriber.mobileNo +
                                "</td></tr>");
                    }

                } else if (result.success == false) {
                    $('#errorTitle').text('Error');
                    //planMsg
                    $('#planMsg').html(result.statusText);
                    $('#planStatus').modal('show');
                }
            },
            error: function(response) {
                if (response.readyState == 4) {
                    console.log("Error : " + response.statusText);
                    $('#errorTitle').text('Error');
                    //planMsg
                    $('#planMsg').html(response.statusText);
                    $('#planStatus').modal('show');
                }

            }
        });
    }
</script>