<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GSP</title>

    <% include header %>
  </head>

  <body class="nav-md">
    <% include sidebar %>
        <div class="right_col" role="main">
        <br/><br/><br/>
        <div align="center" class="row"  style="margin:auto;background-color:#4d94ff;border-style:solid;border-color:#4d94ff;">
       <div class="center-div">
            <div class="container-fluid" style="margin: 0 auto;width: 100%;">
              
              <div class="row" style:"text-align:center;align:center;">
                <div class="col-sm-6" style="padding:5px;margin:5px;text-align:center;"><p style="color:white;font-size:15px;">Welcome : <%= global.name%></p></div>
                <div class="col-sm-4" style="padding:5px;margin:5px;text-align:center;"><p style="color:white;font-size:15px;">Current Login : <%= global.loginDate.toLocaleString()%></p></div>
             </div>
            </div>
            </div>
         </div>
         </div>
      </div>
    </div>


<% include scripts %>
<% include footer %>

  </body>
</html>
