<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
  table{
        background-color:#ccffe6;
        padding: 5px; /* Apply cell padding */
    }
 table th, table td{
        background-color:#ccffe6;
        margin: 10px;
        padding: 8px; /* Apply cell padding */
    }
    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC | <%= title %></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= title %></h3>
                <p Style="color:red;"><%= message %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small><%= mandatorymessage %></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      </li>

                    </ul>
                  </div>
                  <div class="x_content">
                    <form style="padding:10px" id="form" method="post" action='payment_sub_LCO'>
                    <div>
                    <table width="70%"  align="center" style:"text-align:center;">
                    <tr>
                    <td>
                    <input type="hidden" value="<%= sub.customerId%>" name="custId">
                        <label for="custcode">Customer Code<span class="required"></span></label>
                        </td>
                        <td>
                        <label for="custcode"><%= sub.customerId%><span class="required"></span></label>
                        </td>
                        </tr>
                     
                      <tr>
                      <td>
                        <label for="name">Customer name<span class="required"></span></label>
                        </td>
                        <td>
                        <label for="name"><%= sub.name%><span class="required"></span></label>
                        </td></tr>
                        <tr>
                            <td>
                              <label for="name">Plan Aamount<span class="required"></span></label>
                              </td>
                              <td>
                              <label for="name"><%= sub.planAmt%><span class="required"></span></label>
                              </td></tr>
                            <tr>
                      <tr>
                      <td>
                        <label for="mode">Payment Mode<span class="required"></span></label>
                        </td><td>
                        <input type="radio" id="r1" name="r" value='Cash' onChange="changetextbox()" checked>Cash &nbsp;&nbsp;
                        <input type="radio" id="r2"  name="r" value='Cheque' onChange="changetextbox()">Cheque &nbsp;&nbsp;
                        <input type="radio" id="r3"  name="r" value='Online' onChange="changetextbox()">Online &nbsp;&nbsp;
                        </td></tr>
                     <tr>
                     <td>
                        <label for="balance">Customer Balance <span class="required"></span></label>
                        </td><td>
                          <%if(sess.uglco.LCOId=="780002"){%>
                            <label for="balance">Rs. <%= sub.paidAmt%> /-<span class="required"></span></label>
                            
                        <%}else{%>
                          <label for="balance">Rs. <%= sub.balanceAmount%> /-<span class="required"></span></label>
                          <%}%>
                        </td></tr>
                   
                    <tr>
                        <tr>
                            <td>
                               <label for="balance">Customer EMI <span class="required"></span></label>
                               </td><td>
                               <label for="balance">Rs. <%= sub.emi%> /-<span class="required"></span></label>
                               </td></tr>
                          
                           <tr>

                            
                    <td>
                        <label for="payment">Payment Amount<span class="required"></span></label>
                        </td>
                        <td>
                        <input type="number" min="0" name="paidAmt" id="paiAmt" required>
                        </tr>
                     <!-- start cheque -->
                    <tr  id="chequeNodiv" style="display:none"><td>
                        <label for="payment">Cheque Number<span class="required"></span></label>
                        </td>
                        <td>
                        <input type="number" name="chequeNo" id="chequeNo" >
                        </td>
                        </tr>
                        <tr  id="bankNamediv" style="display:none"><td>
                        <label for="payment">Bank Name<span class="required"></span></label>
                        </td><td>
                        <input type="text" name="bankName" id="bankName">
                        </td></tr>
                        <tr  id="cdate" style="display:none"><td>
                        <label for="payment">Cheque Date<span class="required"></span></label>
                        </td><td>
                        <input type="date" name="chequeDate" id="chequeDate" >
                       </td></tr>
                       <tr>
                     <td>
                        <label for="balance">Remarks<span class="required"></span></label>
                        </td><td>
                        <input type="text" name="remarks" id="remarks" >
                        </td></tr>
                   
                    <tr>
                    <!-- end chhque -->
                    <tr><td>
                          <br/>
                          </td>
                          <td>
                           <br/>
                          </td>
                      </tr>
                     
                      <tr><td align="center" colspan="2">
                          <input id="submit" type="submit" class="btn btn-primary" value="Submit">
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <a href="/get_customer_payment_LCO"><input id="reset" type="button" class="btn btn-primary" value="Cancel" name="reset"></button></a>
                          </td>
                      </tr>
                       </table>
                      </div>
                    </form>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer content -->
        <% include footer %>
        <!-- /footer content -->
      </div>
    </div>
<script>
function changetextbox()
{
  var sel = document.querySelector('input[name = "r"]:checked').value
 // alert("hello "+sel);

   if(sel === "Cash"){
         document.getElementById('chequeNodiv').style.display= 'none';     
         document.getElementById('cdate').style.display= 'none';     
         document.getElementById('bankNamediv').style.display= 'none';  
         document.getElementById("chequeNo").required = false;
         document.getElementById("bankName").required = false;
         document.getElementById("chequeDate").required = false;
    }
    else if(sel === "Cheque"){
         document.getElementById('chequeNodiv').style.display= 'table-row'; 
         document.getElementById('cdate').style.display= 'table-row'; 
         document.getElementById('bankNamediv').style.display= 'table-row'; 
         document.getElementById("chequeNo").required = true;
         document.getElementById("bankName").required = true;
         document.getElementById("chequeDate").required = true;

    }else if(sel === "Online"){
         document.getElementById('chequeNodiv').style.display= 'none';     
         document.getElementById('cdate').style.display= 'none';     
         document.getElementById('bankNamediv').style.display= 'none';  
         document.getElementById("chequeNo").required = false;
         document.getElementById("bankName").required = false;
         document.getElementById("chequeDate").required = false;
    }


}
</script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

  </body>
</html>
