<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<% include header_css %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="dashboard_LCO" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>C</b>G</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Cable</b>guy</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      </nav>
  </header>
      <% include sidebar %>





  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small><%= sectionTitle %></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="dashboard_LCO"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><%= sectionTitle %></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div class="box box-warning">
      <center>
            <div class="box-header with-border">
              <h3 class="box-title">Search Customer </h3>
            </div>
            <br/>
            </center>
            <!-- /.box-header -->
         <div class="box-body">
              <form role="form" method="post" action="get_customer">
                <!-- text input -->


                <center>
                <table  style=" width:70%; margin-left:30%; margin-right:15%;" class="col-md-6 col-sm-6 col-xs-12">
                <tr><td>
                <div  style="text-align:center;"  class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class=" col-md-3 col-sm-3 col-xs-12 form-control" name="searchBy" for="searchBy">
						                  
                								<option value = "ID">Search By Customer ID</option>
                								<option value = "MOB">Search By Customer Mobile</option>
                							
							            </select>
						            </div>
                        </div></td></tr>
                        <tr><td><br/></td></tr>
                   <tr><td><div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" required="required" class="form-control" name="id">
                </div></div></td></tr>
                <tr><td><br><td><tr>
                <tr><td>
                 <div class="box-footer">
                <button style="margin-left:20%; margin-right:18%;" type="submit" class="btn btn-primary">Submit</button>
              </div></td></tr>
              <tr><td><br><td><tr>
              <tr><td><center>
            <div  style="text-align:center;"  class="form-group">
               <div class="col-md-6 col-sm-6 col-xs-12">
               <% if(sectionMessage!=''){ %>
              
                <p style="color:red;" class="box-title"><%= sectionMessage %> </p>
             
            <%
            }
            %>
            </div></div>
            </center></td></tr></table>
              </center>
              </form>
              <% global.getCust=false%>
              <%global.editcustError=false%>
              <%global.getcustError=false%>
              <%global.editcust=false%>
        </div>
        </div>
    </section>
    </div>
      <!-- /.content-wrapper -->
  <% include footer %>
</div>
<!-- ./wrapper -->

<% include scripts %>
</body>
</html>
