<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC | <%= title %></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body onload="getData()" class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= title %></h3>
                <p Style="color:red;font-size:14px;"><%= sectionMessage %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    
                    <ul class="nav navbar-right panel_toolbox">
                      </li>

                    </ul>
                  </div>
                  <div>
                  <div class="container">
                    <div class="row">
                    <form role="form" method='post' action='customer_edit_mso'>
                    <%console.log("Date : "+moment(new Date(cust.dueDate).getTime()).format('DD/MM/YYYY'))%>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Customer Code<span style="color:red;" class="required">*</span></label>
                            <input type="text" class="form-control" value="<%= cust.customerId%>" name="id" id="id" readonly>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Customer Name<span style="color:red;" class="required">*</span></label>
                            <input type="text" class="form-control" value="<%= cust.name%>"  name="name" id="name" >
                        </div>
                        
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Phone Number</label>
                            <input type="text" class="form-control" value="<%= cust.phone%>" maxLength="9" name="phone" id="phone" value="0" >
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Mobile Number<span style="color:red;" class="required">*</span></label>
                            <input type="text" maxLength="10" class="form-control" value="<%= cust.mobileNo%>"  name="mobileNo" id="mobileNo" >
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Join Id<span style="color:red;" class="required">*</span></label>
                            <input type="text" class="form-control" name="joinId"  value="<%= cust.joinId%>"  id="joinId" readonly>
                        </div>
                         <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Sales Man</label>
                            <input type="text" class="form-control" name="salesman"  id="salesman" value="<%= cust.salesman%>">
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Address<span style="color:red;" class="required">*</span></label>
                            <input type="text" class="form-control" name="address"  value="<%= cust.address%>"  id="joinId" >
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Plan Name<span style="color:red;" class="required">*</span></label>
                            <input type="text" class="form-control" value="<%= cust.planName%>" name="planName" id="planName">
                        </div>
                        <div class="clearfix"></div>
                        
                <div class="form-group">
                  <label>Plan Price</label>
                  <input type="text" class="form-control" value="<%= cust.planAmt%>" id="price" name="price" required="required" onChange="getTaxChange()">
                </div>
                 <div class="form-group">
                 
                  <label class="radio-inline"><input type="radio" name="taxType" value="in" onclick="getTax(this)" id="in" checked>Including Tax</label>
                  <label class="radio-inline"><input type="radio" name="taxType" value="ex" onclick="getTax(this)" id="ex">Excluding Tax</label>
                  <label class="radio-inline"><input type="radio" name="taxType" value="no" onclick="getTax(this)" id="no">No tax</label>
                </div>
                <div class="form-group">
                 <label>SGST</label>
                  <input type="text" class="form-control" value="<%= cust.sgst%>" id="sgst" name="sgst" readonly="readonly" >
                </div>
                <div class="form-group">
                 <label>CGST</label>
                  <input type="text" class="form-control" id="cgst" value="<%= cust.cgst%>" name="cgst" readonly="readonly" >
                </div>
                <div class="form-group">
                 <label>IGST</label>
                  <input type="text" class="form-control" id="igst" value="<%= cust.igst%>" name="igst" readonly="readonly">
                </div>
                
                <!--<div class="form-group">
                 <label>Plan Amount</label>
                  <input type="text" class="form-control" value="<%= parseFloat(cust.planAmt)-parseFloat(cust.sgst)-parseFloat(cust.cgst)-parseFloat(cust.igst)%>" id="planAmt" name="planAmt" readonly="readonly">
                </div>-->
                <div class="form-group">
                 <label>Plan Amount</label>
                  <input type="text" class="form-control" value="<%= parseFloat(cust.planAmt)%>" id="planAmt" name="planAmt" readonly="readonly">
                </div>

                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Total Plan Amount <span style="color:red;" class="required">*</span></label>
                            <input type="Number" class="form-control" value="<%= cust.planAmt%>" name="total" id="total" min="0" required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
                            <label for="exampleInputEmail1">Paid Amount <span style="color:red;" class="required">*</span></label>
                            <input type="Number" class="form-control" value="<%= cust.paidAmt%>" name="paidAmt" id="paidAmt" min="0" required>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-3">
                            <label for="exampleInputEmail1">Plan Date<span style="color:red;" class="required">*</span></label>
                            <input type="date" class="form-control" value="<%= moment(cust.planDate).format('YYYY-MM-DD')%>" name="planDate" id="planDate" required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-3">
                            <label for="exampleInputEmail1">Due Date<span style="color:red;" class="required">*</span></label>
                            <input type="date" class="form-control" value="<%= moment(cust.dueDate).format('YYYY-MM-DD')%>" name="dueDate" id="dueDate" required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-3">
                            <label for="exampleInputEmail1">EMI Amount<span style="color:red;" class="required">*</span></label>
                            <input type="Number" class="form-control" name="emi" value="<%= cust.emi%>" id="emi" min="0" required>
                        </div>
                        <div class="form-group col-xs-10 col-sm-3 col-md-3 col-lg-3">
                            <label for="exampleInputEmail1">EMI Type</label>
                            <select class="form-control" name="emiType" id="emiType">
                                    <option value='M'>Monthly</option>
                                    <option value='W'>Weekly</option>
                                    <option value='D'>Daily</option>
                            </select>
                        </div>
                        <div class="clearfix"></div><br/><br/>
                        <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                    <div class="clearfix"></div>

                    <br /><br />
                    </div>
                    </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% global.custEditError=false;%>
       <% global.custEdited=false;%>
        <!-- /page content -->

        <!-- footer content -->
        <% include footer %>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
    <script>
    //For calculating GST 
function getTaxChange(){
  cgst=parseFloat(1.5/100)*parseFloat(document.getElementById('price').value);
  cgst=cgst.toFixed(2);
  sgst=parseFloat(1.5/100)*parseFloat(document.getElementById('price').value);
  sgst=sgst.toFixed(2);
  document.getElementById("cgst").value = cgst;
  document.getElementById("sgst").value = sgst;
  document.getElementById("igst").value = 0;
  var tax=parseFloat(cgst)+parseFloat(sgst);
  console.log(tax)
  document.getElementById("planAmt").value =Math.round(parseFloat(document.getElementById('price').value))-parseFloat(tax);
  document.getElementById("total").value = document.getElementById('price').value; 
}


function getTax(taxType){
  console.log(taxType.id);
  //etTax=document.getElementById('etTax').value;
  document.getElementById("cgst").value = cgst;
  document.getElementById("sgst").value = sgst;
  document.getElementById("igst").value = "0";
  if(taxType.id=="in"){
  cgstt=parseFloat(1.5/101.5)*parseFloat(document.getElementById('price').value);
  cgstt=cgstt.toFixed(2);
  sgstt=parseFloat(1.5/101.5)*parseFloat(document.getElementById('price').value);
  sgstt=sgstt.toFixed(2);
     var tax=parseFloat(cgstt)+parseFloat(sgstt);
     console.log(tax)
     document.getElementById("planAmt").value =Math.round(parseFloat(document.getElementById('price').value))-Math.round(parseFloat(tax));
     document.getElementById("total").value = Math.round(parseFloat(document.getElementById('price').value));
  }else if(taxType.id=="ex"){
  cgst=parseFloat(1.5/100)*parseFloat(document.getElementById('price').value);
  cgst=cgst.toFixed(2);
  sgst=parseFloat(1.5/100)*parseFloat(document.getElementById('price').value);
  sgst=sgst.toFixed(2);
     document.getElementById("planAmt").value = document.getElementById('price').value;
     document.getElementById("total").value = Math.round(parseFloat(document.getElementById('price').value))+Math.round(parseFloat(cgst))+Math.round(parseFloat(sgst));
  }else if(taxType.id=="no"){
    document.getElementById("cgst").value = "0";
    document.getElementById("sgst").value = "0";
    document.getElementById("igst").value = "0";
    cgst="0";
    sgst="0";
    document.getElementById("planAmt").value = document.getElementById('price').value;
    document.getElementById("total").value =Math.round(parseFloat(document.getElementById('price').value))+parseFloat(cgst)+parseFloat(sgst);
  }
}

//For ent Tax

function calculatePrice(){
  cgst=parseFloat(1.5/100)*parseFloat(document.getElementById('price').value);
  cgst=cgst.toFixed(2);
  sgst=parseFloat(1.5/100)*parseFloat(document.getElementById('price').value);
  sgst=sgst.toFixed(2);
  //etTax=document.getElementById('etTax').value;
  var type=$("input[name=taxType]:checked").val()
  console.log(type)
  var tax=parseInt(etTax);
  if(type=="ex"){
    var tax=parseInt(cgst)+parseInt(sgst);
  }
  console.log("in chnage : "+tax)
  document.getElementById("total").value = Math.round(parseInt(document.getElementById('price').value))+Math.round(parseInt(tax));
}


function getData(){
  
  $('input[type=radio][name=taxType][value=<%=cust.planType%>]').attr("checked", true);
}


    </script>
  </body>
</html>
