<!DOCTYPE html>
<html lang="en">
  <head>
  <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
  @media print {
  body * {
    visibility: hidden;
  }
  #printableArea, #printableArea * {
    visibility: visible;
  }
  #printableArea {
    position: absolute;
    left: 0;
    top: 0;
  }
 
    
}
    </style>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DC | <%= title %></title>

    <!-- Bootstrap -->
    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <% include header %>
    <% include sidebar %>

        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3><%= title %></h3>
                <p Style="color:red;"><%= message %></p>
              </div>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><small><%= mandatorymessage %></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      </li>

                    </ul>
                  </div>
                  <div class="x_content">
                    <form>
                    <div id="test">
                     <table  class="table table-responsive" id="printT" border="1px"  align="center" style:"text-align:center;width:80%">
                    <tr style="text-align:center;">
                    <td colspan="4">
                      <label for="header">Customer Payment Receipt<span class="required"></span></label>
                    </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="name">Customer name<span class="required"></span></label>
                        </td>
                        <td  style="text-align:center;">
                        <label for="name"><%= sub.name%><span class="required"></span></label>
                        </td>
                    <td >
                        <label  for="custcode">Customer Code<span class="required"></span></label>
                        </td>
                        <td  style="text-align:center;">
                        <label for="custcode"><%= sub.customerId%><span class="required"></span></label>
                        </td>
                        </tr>
                     
                      
                      <tr >
                      <td>
                        <label for="mode">Payment Mode<span class="required"></span></label>
                        </td><td  style="text-align:center;">
                        <label for="name"><%= sub.payMode%><span class="required"></span></label>
                        </td>
                     <td>
                        <label for="balance">Previous Os Amount<span class="required"></span></label>
                        </td><td  style="text-align:center;">
                        <label for="balance">Rs. <%= parseFloat(sub.balanceAmt)+parseFloat(sub.paidAmount)%> /-<span class="required"></span></label>
                        </td></tr>
                   
                    <tr>
                    <tr >
                    <td>
                        <label for="payment">Paid Amount<span class="required"></span></label>
                        </td>
                        <td  style="text-align:center;">
                        <label for="name">Rs. <%= sub.paidAmount%> /-<span class="required"></span></label>
                        
                     <td>
                        <label for="balance">Balance Amount<span class="required"></span></label>
                        </td><td  style="text-align:center;">
                        <label for="balance">Rs. <%= sub.balanceAmt%> /-<span class="required"></span></label>
                        </td></tr>
                   
                    <tr>
                     <!-- start cheque-->
                     <%if(sub.payMode==='Cheque'){%>
                    <tr  id="chequeNodiv"><td>
                        <label for="payment">Cheque Number<span class="required"></span></label>
                        </td>
                        <td  style="text-align:center;">
                        <label for="balance"><%= sub.chequeNo%> <span class="required"></span></label>
                        </td>
                        </tr>
                        <tr  id="bankNamediv"><td>
                        <label for="payment">Bank Name<span class="required"></span></label>
                        </td><td  style="text-align:center;">
                        <label for="balance"><%= sub.bankName%><span class="required"></span></label>
                        </td></tr>
                        <tr  id="cdate"><td>
                        <label for="payment">Cheque Date<span class="required"></span></label>
                        </td><td  style="text-align:center;">
                        <label for="balance"><%= sub.chequeDate%><span class="required"></span></label>
                       </td></tr>
                       <%}%>
                   <!-- end chhque -->
                    
                       </table>
                      </div>
                       <div style="padding:20px" align="center">
                          <!--<button onclick="javascript:window.print()" id="simplePrint">Print Receipt</button>-->
                      
                          <button onclick="print()"  class="btn btn-primary" id="simplePrint">Print Receipt</button>
                          <a href="/get_customer_payment_LCO"><input id="reset" type="button" class="btn btn-primary" value="Cancel" name="reset"></button></a>
                          <!--<input type="button" onclick="print('printableArea')" value="Print" />-->
                        </div>

                        






                    </form>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer content -->
        <% include footer %>
        <!-- /footer content -->
      </div>
    </div>
    <!--<div id="printableArea" style="visibility:hidden">
                          <table>
                            <tr>
                              <th>A</th>
                              <th>B</th>
                            </tr>
                            <tr>
                              <td>X</td>
                              <td>X</td>
                            </tr>
                          </table>
                        </div>-->

<script>


function print(){
    var mywindow = window.open('', 'PRINT');
    mywindow.document.write('<html><head><title></title>');
    mywindow.document.write('</head><body>');
    mywindow.document.write('<center>Customer Receipt</center><table>');
    mywindow.document.write('<tr><td style="align:center;" colspan="2"><center><b><%= lcos.name%></b></center></td></tr>');
    mywindow.document.write('<tr><td style="align:center;" colspan="2"><%= lcos.address%></td></tr>');
    mywindow.document.write('<tr><td colspan="2">Rec No. : <%= sub.receiptId%></td></tr>');
    <%var date = sub.created_at.toLocaleString('en-US',{hour12:false}).split(" ");

                    var time = date[1];
                    var mdy = date[0];

                    mdy = mdy.split('/');
                    var month = parseInt(mdy[0]);
                    var day = parseInt(mdy[1]);
                    var year = parseInt(mdy[2]);
                    console.log("mday : "+mdy)
                    // Putting it all together
                    var formattedDate = day + '/' + month + '/' + year+" "+time;
                    %>
    mywindow.document.write('<tr><td colspan="2"> <%= formattedDate%></td></tr>');
    mywindow.document.write('<tr><td colspan="2"><hr></td></tr>');
    mywindow.document.write('<tr><td>Id  </td><td>: <%= sub.customerId%></td></tr>');
    mywindow.document.write('<tr><td>Name  </td><td>: <%= sub.name%></td></tr>');
    mywindow.document.write('<tr><td>Address  </td><td>: <%= cust.address%></td></tr>');
    mywindow.document.write('<tr><td>Mobile No  </td><td>: <%= cust.mobileNo%></td></tr>');
    mywindow.document.write('<tr><td>Cust Plan  </td><td>: <%= cust.planName%></td></tr>');
    mywindow.document.write('<tr><td colspan="2"><hr></td></tr>');
    mywindow.document.write('<tr><td>Op. Balance  </td><td>: Rs.  <%= cust.planAmt%>/-</td></tr>');
    mywindow.document.write('<tr><td>Prev. Os Amt  </td><td>: Rs. <%= cust.balanceAmount+parseFloat(sub.paidAmount)%>/-</td></tr>');
    mywindow.document.write('<tr><td>Paid Amt  </td><td>: Rs. <%= sub.paidAmount%>/-</td></tr>');
    mywindow.document.write('<tr><td colspan="2"><hr></td></tr>');
    mywindow.document.write('<tr><td colspan="2">Cust Cl. Bal. : Rs.  <%= cust.balanceAmount%>/-</td></tr>');
    mywindow.document.write('<tr><td>Remarks  </td><td>: <%= sub.remarks%></td></tr>');
    mywindow.document.write('<tr align="top"><td wrap>Payment Mode </td><td>: <%= sub.payMode%></td></tr>');
    <%if(sub.payMode==="Cheque"){%>
    mywindow.document.write('<tr><td wrap>Bank Name  </td><td>: <%= sub.bankName%></td></tr>');
    mywindow.document.write('<tr><td wrap>Cheque No  </td><td>: <%= sub.chequeNo%></td></tr>');
    mywindow.document.write('<tr><td>Cheque Date  </td><td>: <%= sub.chequeDate%></td></tr>');
    <%}%>
    mywindow.document.write('<tr><td colspan="2"><hr></td></tr>');
    mywindow.document.write('<tr><td colspan="2" align="right">Powered by :  www.cableguy.in</td></tr>');
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
}

</script>
    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>
    <!-- validator -->
    <script src="../vendors/validator/validator.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>

  </body>
</html>
