<head>
    <style>
        .navbar-default {
            background-color: #F8F8F8;
            border-color: #E7E7E7;
        }
    </style>
</head>

<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">


                <div class="navbar-header" style="border:0;background-color:#ffffff;padding:10px">

                    <a href="/dashboard_UGMSO"><img src="/images/logo_1.png" class="img-responsive" style="width: 100%;height:100%;" /></a>

                </div>

                <div class="clearfix"></div>


                <div class="profile clearfix">
                    <div class="profile_info">
                        <span>Welcome</span>
                        <h2>
                            <%= global.name%>
                        </h2>
                    </div>
                </div>

                <br />

                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li><a href="/dashboard_UGMSO"><i class="fa fa-home"></i> Home</a>
                            </li>



                            <li><a><i class="fa fa-cogs"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/mso_customer_delete">Delete Customer</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="/get_customer_report_MSO" target="_blank">Customer Report</a></li>
                                    <li><a href="/get_transaction_report_MSO" target="_blank">Transaction Report</a></li>
                                    <li><a href="/get_user_details_coll_MSO">User Wise Collection Report</a></li>
                                    <li><a href="/message_log">Message Log</a></li>
                                </ul>
                            </li>
                            <!--message_log-->
                            <!--<li><a href="/get_customer_payment_MSO"><i class="fa fa-credit-card"></i>Payment</a>-->
                            <!--<li><a><i class="fa fa-table"></i> Payment <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/payment_receipt">Duplicate Payment Receipt</a></li>
                      
                     
                    </ul>
                  </li>-->
                            <li><a href="/get_password_UGMSO"><i class="fa fa-key"></i>Change Password</a></li>
                            <li><a href="/uglcosignout"><i class="fa fa-desktop"></i>Logout</a>

                            </li>
                    </div>

                </div>
            </div>
        </div>

        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </nav>
            </div>
        </div>