<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header_css %>



</head>
<body class="nav-md">

  <% include header %>

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
            <% if(message!=''){ %>
              <div>
                <h3><%= message %> </h3>
              </div>
            <%
            }
            %>

      



            <div>
            <!-- /.box-header -->
            <br/>
            
            <div class="table-responsive" style="overflow:scroll;">
            <label style="color:#ff3333;" for="startDate">Transaction Report From &nbsp;&nbsp;<%= startDate%> To &nbsp;&nbsp;<%= endDate%></label><br/><br/>
              <button class="btn btn-primary" onclick="CreateExcelSheet('datatable-buttons');">Generate Excel </button>
              <form role="form" method='post' action='' >
                <table id="datatable-buttons"  class="table table-bordered table-hover">
                  <thead>
                    <tr style="background-color:#66b3ff; color:white">
                        <td nowrap>Sr. No</td>
                        <td nowrap>Receipt No</td>
                        <td nowrap>Join Id</td>
                        <td nowrap>Customer Code</td>
                        <td nowrap>Customer Name</td>
                        <td nowrap>Address</td>
                        <td nowrap>Mobile No</td>
                        <td nowrap>Customer Balance</td>
                        <td nowrap>Customer Plan</td>
                        <td nowrap>Gold Rate</td>
                        <td nowrap>Gold Weight</td>
                        <td nowrap>Installment Amount</td>
                        <td nowrap>Payment Mode</td>
                        <td nowrap>Transaction By</td>
                        <td nowrap>Transaction Date</td>
                        <td nowrap>Bank Name</td>
                        <td nowrap>Cheque Date</td>
                        <td nowrap>Cheque No</td>
                        <td nowrap>Amount</td>
                    </tr>
                  </thead>
                  <tbody>

                  <% if(pays!==undefined){
                    var amt=0;
                        for(var i=0;i<pays.length;i++){

                      %>
                  <tr>
                    <td><%= i+1 %></td>
                    <td><%= pays[i].receiptId %></td>
                    <td><%= pays[i].joinId %></td>
                    <td><%= pays[i].customerId %></td>
                    <td><%= pays[i].name %></td>
                    <td><%= pays[i].address%></td>
                    <td><%= pays[i].mobileNo %></td>
                    <td><%= pays[i].balanceAmt %></td>
                    <td><%= pays[i].planName %></td>
                    <td>0</td>
                    <td>0</td>
                    <td><%= pays[i].paidAmount %></td>
                    <td><%= pays[i].payMode%></td>
                    <td><%= pays[i].agentId%></td>
                    <%var date = pays[i].created_at.toLocaleString('en-US',{hour12:false}).split(" ");

                    var time = date[1];
                    var mdy = date[0];

                    mdy = mdy.split('/');
                    var month = parseInt(mdy[0]);
                    var day = parseInt(mdy[1]);
                    var year = parseInt(mdy[2]);
                    console.log("mday : "+mdy)
                    // Putting it all together
                    var formattedDate = day + '/' + month + '/' + year + ' ' + time;
                    %>
                    <td><%= formattedDate%></td>
                    <td><%= pays[i].bankName%></td>
                    <td><%= pays[i].chequeDate%></td>
                    <td><%= pays[i].chequeNo%></td>
                    <td><%= parseFloat(pays[i].paidAmount+pays[i].sgst+pays[i].cgst).toFixed(2) %></td>
                  </tr>
                  <%
                    amt= parseFloat(amt)+parseFloat(pays[i].paidAmount);
                    console.log(amt); 
                    }
                    }%>
                    </tbody>
                    <tr>
                    <td>Total Collection</td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td><b><%= amt %></b></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>
                        <td nowrap></td>

                      
                      
                      
                    </tr>
                  </tbody>

                </table>

              </form>
</div>
      </div>        </div></div>

                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


<!-- ./wrapper -->


<% include scripts %>

<script>
$(document).ready(function() {
  <%if(paging){%>
    $("#datatable-buttons").DataTable({
      lengthMenu:[[10,25, 50, 75, -1], [10,25, 50, 75, "All"]],
    });
    <%}%>
});
  // $(document).ready(function() {
  //   var handleDataTableButtons = function() {
  //     if ($("#datatable-buttons").length) {
  //       $("#datatable-buttons").DataTable({
  //         dom: "Bfrtip",
  //         //deferLoading: 57,tableRowsCount
  //         buttons: [
  //           {
  //             extend: "copy",
  //             className: "btn-sm"
  //           },
  //           {
  //             extend: "csv",
  //             className: "btn-sm"
  //           },
  //           {
  //             extend: "excel",
  //             className: "btn-sm"
  //           },
  //           {
  //             extend: "pdfHtml5",
  //             className: "btn-sm"
  //           },
  //           {
  //             extend: "print",
  //             className: "btn-sm"
  //           },
  //         ],
  //         //responsive: true,
  //         paging: true,
  //         lengthChange: false,
  //         searching: true,
  //         ordering: true,
  //         info: true,

  //       });
  //     }
  //   };

  //   TableManageButtons = function() {
  //     "use strict";
  //     return {
  //       init: function() {
  //         handleDataTableButtons();
  //       }
  //     };
  //   }();

  //   $('#datatable').dataTable();

  //   $('#datatable-keytable').DataTable({
  //     keys: true
  //   });

  //   $('#datatable-responsive').DataTable();

  //   $('#datatable-scroller').DataTable({
  //     ajax: "js/datatables/json/scroller-demo.json",
  //     deferRender: true,
  //     scrollY: 380,
  //     scrollCollapse: true,
  //     scroller: true
  //   });

  //   $('#datatable-fixed-header').DataTable({
  //     fixedHeader: true
  //   });

  //   $("#datatable").dataTable({
  //     'order': [[ 1, 'asc' ]],
  //     'columnDefs': [
  //       { orderable: true, targets: [0] }
  //     ]
  //   });
  //   $("#datatable").on('draw.dt', function() {
  //     $('input').iCheck({
  //       checkboxClass: 'icheckbox_flat-green'
  //     });
  //   });

  //   TableManageButtons.init();
  // });
  //   $(function () {
  //   //$('#datatable-buttons').DataTable()
  //   $('#datatable-buttons').DataTable({
  //     'paging'      : true,
  //     'lengthChange': false,
  //     'searching'   : false,
  //     'ordering'    : true,
  //     'info'        : true,
  //     'autoWidth'   : false
  //   })
  // })
</script>
<script src="http://cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script>
  function paymentDetailsClicked(event){
    document.getElementById('manipulate').value = "payment_details";
    document.getElementById('brdsform').submit();
  }
  function renewClicked(event){
    document.getElementById('manipulate').value = "renew";
    document.getElementById('brdsform').submit();
  }
  function renewAllClicked(event){
    document.getElementById('manipulate').value = "renewall";
    document.getElementById('brdsform').submit();
  }
  
  function CreateExcelSheet(tableName) {  
      $("#"+tableName).table2excel({  
          name: "Table2Excel",  
          filename: "TransactionDetails-"+'<%=moment(new Date()).format("DD-MM-YYYY")%>', 
          fileext: ".xls"  
      });  
  }
</script>
    <!-- /Datatables -->

  <% include footer %>
</body>
</html>
