<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <% include header_css %>


</head>
<body class="nav-md">
    <% include header %>

  <% include sidebar %>

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <!-- <h3>Subscriber List</h3>
          <p><%= message %></p> -->
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <h3><%= title %> </h3>
            <% if(message!=''){ %>
              <div>
                <h3><%= message %> </h3>
              </div>
            <%
            }
            %>


 <div class="row">
              <div class="col-md-offset-2">

                <form action="/get_user_details_coll_MSO" method="post">

                <table border="0" cellspacing="5" cellpadding="5">
                <tbody><tr>
                <td><label for="startDate">From&nbsp;&nbsp;&nbsp;</label></td>
                <td><input type="date" value="<%= startDate%>" id="startDate" name="startDate" data-date-format="dd-mm-yyyy"></td>
                <td><label for="startDate">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                <td><label for="endDate">To&nbsp;&nbsp;&nbsp;</label></td>
                <td><input type="date" value="<%= endDate%>" name="endDate" data-date-format="dd-mm-yyyy"></td>
                <td><label for="space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></td>
                <td><input type="submit" name="getData" onclick="" value="Submit" class="btn btn-primary"></td>
                </tr>
                </tbody></table>
              </form>
            </div>
            </div>
            <div style="overflow:scroll;">
            <!-- /.box-header -->
              <form role="form" method='post' action='subscriber_manipulate' id='brdsform' >
                <table id="datatable-buttons" class="table table-bordered table-hover">
                  <thead>
                    <tr style="background-color:#66b3ff; color:white">
                      <th>Sr No.</th>
                      <th>User Id</th>
                      <th>Collection Count</th>
                      <th>Total Collection</th>
                    </tr>
                  </thead>


                  <tbody>
                    <% if(user!==undefined){
                      var totalCountUser=0;
                      var totalCollectionUser=0;
                            for(var i=0;i<user.length;i++){
                          %>
                    <tr>
                        <td><%= i+1 %></td>
                        <% var userId=user[i]._id;
                        totalCountUser=parseFloat(totalCountUser)+parseFloat(user[i].count);
                        totalCollectionUser=parseFloat(user[i].totalCollection)+parseFloat(totalCollectionUser);
                        %>
                        <td><b><u><a href="user_collection_report?userId=<%=userId%>&startDate=<%= startDate%>&endDate=<%= endDate%>"><%= user[i]._id %></a></u></b></td>
                        <td><%= user[i].count %></td>
                        <td>Rs. <%= user[i].totalCollection %> /-</td>
                    </tr>
                    
                    <% }%>
                    </tbody>
                    <%if(user.length!==0){%>
                    <tfoot>
                    <tr>
                        <td></td>
                        
                        <td><b><u><a href="user_collection_report?userId=All&startDate=<%= startDate%>&endDate=<%= endDate%>">All</a></u></b></td>
                        <td><%= totalCountUser %></td>
                        <td>Rs. <%= totalCollectionUser %> /-</td>
                    </tr>
                    </tfoot>
                    <%}%>
                    <%}%>
                  

                  </table>

              </form>

              </div></div></div>

                <!-- /.box-body -->
            </div>
          </div>
          <!-- /.box -->


        </div>
        <!-- /.col -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->




<!-- ./wrapper -->


<% include scripts %>

<script>
  $(document).ready(function() {
    var handleDataTableButtons = function() {
      if ($("#datatable-buttons").length) {
        $("#datatable-buttons").DataTable({
          dom: "Bfrtip",
          //deferLoading: 57,tableRowsCount
          buttons: [
            
          ],
          responsive: true,
          paging: true,
          lengthChange: true,
          searching: true,
          ordering: true,
          info: true

        });
      }
    };

    TableManageButtons = function() {
      "use strict";
      return {
        init: function() {
          handleDataTableButtons();
        }
      };
    }();

    $('#datatable').dataTable();

    $('#datatable-keytable').DataTable({
      keys: true
    });

    $('#datatable-responsive').DataTable();

    $('#datatable-scroller').DataTable({
      ajax: "js/datatables/json/scroller-demo.json",
      deferRender: true,
      scrollY: 380,
      scroluserllapse: true,
      scroller: true
    });

    $('#datatable-fixed-header').DataTable({
      fixedHeader: true
    });

    $("#datatable").dataTable({
      'order': [[ 1, 'asc' ]],
      'columnDefs': [
        { orderable: false, targets: [0] }
      ]
    });
    $("#datatable").on('draw.dt', function() {
      $('input').iCheck({
        checkboxClass: 'icheckbox_flat-green'
      });
    });

    TableManageButtons.init();
  });
  function paymentDetailsClicked(event){
    document.getElementById('manipulate').value = "payment_details";
    document.getElementById('brdsform').submit();
  }
  function renewClicked(event){
    document.getElementById('manipulate').value = "renew";
    document.getElementById('brdsform').submit();
  }
  function renewAllClicked(event){
    document.getElementById('manipulate').value = "renewall";
    document.getElementById('brdsform').submit();
  }
</script>
    <!-- /Datatables -->

  <% include footer %>
</body>
</html>
